In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [27]:
# coding: utf-8

import pandas as pd

DF_INTERNACOES = "/content/drive/MyDrive/Colab Notebooks/df_internacoes.csv"

INTERNACOES = "/content/drive/MyDrive/Colab Notebooks/internacoes.csv"
INTERNACOES_FOR = "/content/drive/MyDrive/Colab Notebooks/internacoes_fortaleza.csv"

MU_IBGE = "/content/drive/MyDrive/Colab Notebooks/mun_ibge.csv"

## https://github.com/rfsaldanha/microdatasus/wiki/Conven%C3%A7%C3%B5es-SIH-RD
CAR_INT = "/content/drive/MyDrive/Colab Notebooks/car_int.csv"
COBRANCA = "/content/drive/MyDrive/Colab Notebooks/cobranca.csv"
COD_IDADE = "/content/drive/MyDrive/Colab Notebooks/cod_idade.csv"
COMPLEX = "/content/drive/MyDrive/Colab Notebooks/complex.csv"
ESPEC = "/content/drive/MyDrive/Colab Notebooks/espec.csv"
FINANC = "/content/drive/MyDrive/Colab Notebooks/financ.csv"
GESTAO = "/content/drive/MyDrive/Colab Notebooks/gestao.csv"
IDENT = "/content/drive/MyDrive/Colab Notebooks/ident.csv"
INSTRU = "/content/drive/MyDrive/Colab Notebooks/instru.csv"
MARCA_UTI = "/content/drive/MyDrive/Colab Notebooks/marca_uti.csv"
NACIONAL = "/content/drive/MyDrive/Colab Notebooks/nacional.csv"
NAT_JUR = "/content/drive/MyDrive/Colab Notebooks/nat_jur.csv"
RACA_COR = "/content/drive/MyDrive/Colab Notebooks/raca_cor.csv"
REGCT = "/content/drive/MyDrive/Colab Notebooks/regct.csv"
SEXO = "/content/drive/MyDrive/Colab Notebooks/sexo.csv"

In [3]:
# Colunas relativamente significantes da DF_INTERNACOES
column = [
    'UF_ZI',
    'ANO_CMPT', 
    'MES_CMPT', 
    'ESPEC', 
    'CGC_HOSP', 
    'N_AIH',
    'IDENT', 
    'CEP', 
    'MUNIC_RES', 
    'NASC', 
    'SEXO',
    'UTI_MES_TO', 
    'MARCA_UTI', 
    'UTI_INT_TO', 
    'DIAR_ACOM', 
    'QT_DIARIAS', 
    'PROC_SOLIC', 
    'PROC_REA',
    'VAL_SH', 
    'VAL_SP', 
    'VAL_TOT', 
    'VAL_UTI', 
    'DT_INTER', 
    'DT_SAIDA', 
    'DIAG_PRINC', 
    'COBRANCA', 
    'NATUREZA', 
    'NAT_JUR',
    'GESTAO', 
    'IND_VDRL', 
    'MUNIC_MOV',
    'COD_IDADE', 
    'IDADE', 
    'DIAS_PERM', 
    'MORTE', 
    'NACIONAL',
    'CAR_INT', 
    'HOMONIMO', 
    'INSTRU', 
    'GESTRISCO', 
    'CNES', 
    'CNPJ_MANT', 
    'CID_ASSO', 
    'CID_MORTE', 
    'COMPLEX', 
    'FINANC',
    'REGCT', 
    'RACA_COR', 
    'SEQUENCIA', 
    'REMESSA'
]

In [4]:
df = pd.read_csv(DF_INTERNACOES, usecols=column, encoding= 'unicode_escape')
df.head(2)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (77,78) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,CNES,CNPJ_MANT,CID_ASSO,CID_MORTE,COMPLEX,FINANC,REGCT,RACA_COR,SEQUENCIA,REMESSA
0,230000,2014,1,7,5.268526e+12,2314100004788,1,62900000,231180,20140117,...,2785900,5.268526e+12,NaN,NaN,2,6,0,99,1840,HE23000001N201401.DTS
1,230000,2014,1,7,5.268526e+12,2314100004854,1,62755000,230945,20110912,...,2785900,5.268526e+12,NaN,NaN,2,6,0,99,1841,HE23000001N201401.DTS

In [5]:
ibge = pd.read_csv(MU_IBGE, sep=';', usecols=['codmu', 'nomemu'], encoding= 'unicode_escape')

In [6]:
df = pd.merge(df, ibge, left_on='MUNIC_RES', right_on='codmu', how='left')
del df['MUNIC_RES']
del df['codmu']
df.rename(columns={'nomemu':'MUNIC_RES'}, inplace=True)

df.MUNIC_RES.value_counts()

Fortaleza            867018
Caucaia              103514
MaracanaÃº             92915
Juazeiro do Norte     77804
Sobral                73101
                      ...
MatÃ£o                     1
Anapu                     1
Romaria                   1
Oliveira Fortes           1
ParÃ¡ de Minas             1
Name: MUNIC_RES, Length: 1573, dtype: int64

In [7]:
df = pd.merge(df, ibge, left_on='MUNIC_MOV', right_on='codmu', how='left')
del df['MUNIC_MOV']
del df['codmu']
df.rename(columns={'nomemu':'MUNIC_MOV'}, inplace=True)

df.MUNIC_MOV.value_counts()

Fortaleza            1285549
Sobral                220691
MaracanaÃº              96418
Juazeiro do Norte      90582
Barbalha               88350
                      ...
Granjeiro                186
MartinÃ³pole              151
ErerÃ©                    142
Palhano                   53
QuiterianÃ³polis           38
Name: MUNIC_MOV, Length: 167, dtype: int64

In [8]:
df = pd.merge(df, ibge, left_on='UF_ZI', right_on='codmu', how='left')
del df['UF_ZI']
del df['codmu']
df.rename(columns={'nomemu':'UF_ZI'}, inplace=True)

df.UF_ZI.value_counts()

Fortaleza          1218733
Sobral              159699
MaracanaÃº            96418
Barbalha             88350
Crato                76379
                    ...
Granjeiro              186
MartinÃ³pole            151
ErerÃ©                  142
Palhano                 53
QuiterianÃ³polis         38
Name: UF_ZI, Length: 167, dtype: int64

In [9]:
car_int = pd.read_csv(CAR_INT, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, car_int, left_on='CAR_INT', right_on=0, how='left')
del df['CAR_INT']
del df[0]
df.rename(columns={1:'CAR_INT'}, inplace=True)

df['CAR_INT'].value_counts()

 UrgÃªncia                                          2402338
 Eletivo                                            491829
 Outros tipo de acidente de trÃ¢nsito                 41518
 Out tp lesÃµes e envenen por agent quÃ­m fÃ­sicos      20658
Name: CAR_INT, dtype: int64

In [10]:
cobranca = pd.read_csv(COBRANCA, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, cobranca, left_on='COBRANCA', right_on=0, how='left')
del df['COBRANCA']
del df[0]
df.rename(columns={1:'COBRANCA'}, inplace=True)

df['COBRANCA'].value_counts()

 Alta melhorado                                        1761119
 Alta da mÃ£e/puÃ©rpera e do recÃ©m-nascido                561866
 Ã“bito com DO fornecida pelo mÃ©dico assistente          102766
 TransferÃªncia para outro estabelecimento                94234
 Alta curado                                             92757
 PermanÃªncia por caracterÃ­sticas prÃ³prias da doenÃ§a      64590
 PermanÃªncia por intercorrÃªncia                          61920
 PermanÃªncia por reoperaÃ§Ã£o                              44842
 Alta a pedido                                           41079
 Alta da mÃ£e/puÃ©rpera e permanÃªncia recÃ©m-nascido        40827
 Alta com previsÃ£o de retorno p/acomp do paciente        24946
 PermanÃªncia por mudanÃ§a de procedimento                 14840
 Encerramento administrativo                             14540
 Alta por outros motivos                                  8544
 PermanÃªncia proc doaÃ§Ã£o Ã³rg, tec, cÃ©l-doador morto       7327
 Alta por evasÃ£o                                          6532
 Alta da mÃ£e/puÃ©rpera com Ã³bito fetal                     3842
 Ã“bito com DO fornecida pelo IML                          3635
 Ã“bito com DO fornecida pelo SVO                          2910
 Alta da mÃ£e/puÃ©rpera e Ã³bito do recÃ©m-nascido            2124
 PermanÃªncia por outros motivos                            575
 PermanÃªncia proc doaÃ§Ã£o Ã³rg, tec, cÃ©l-doador vivo         347
 PermanÃªncia por impossibilidade sÃ³cio-familiar             67
 Ã“bito da mÃ£e/puÃ©rpera e alta do recÃ©m-nascido              60
 Ã“bito da mÃ£e/puÃ©rpera e permanÃªncia recÃ©m-nascido          26
 Ã“bito da gestante e do concepto                            26
 Alta de paciente agudo em psiquiatria                       1
 TransferÃªncia para internaÃ§Ã£o domiciliar                    1
Name: COBRANCA, dtype: int64

In [11]:
cod_idade = pd.read_csv(COD_IDADE, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, cod_idade, left_on='COD_IDADE', right_on=0, how='left')
del df['COD_IDADE']
del df[0]
df.rename(columns={1:'COD_IDADE'}, inplace=True)

df['COD_IDADE'].value_counts()

 Anos     2766844
 Dias      116095
 Meses      71138
Name: COD_IDADE, dtype: int64

In [12]:
complex_ = pd.read_csv(COMPLEX, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, complex_, left_on='COMPLEX', right_on=0, how='left')
del df['COMPLEX']
del df[0]
df.rename(columns={1:'COMPLEX'}, inplace=True)

df['COMPLEX'].value_counts()

 MÃ©dia complexidade    2779450
 Alta complexidade      176893
Name: COMPLEX, dtype: int64

In [13]:
espec = pd.read_csv(ESPEC, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, espec, left_on='ESPEC', right_on=0, how='left')
del df['ESPEC']
del df[0]
df.rename(columns={1:'ESPEC'}, inplace=True)

df['ESPEC'].value_counts()

 Cirurgia                                          879208
 ClÃ­nica mÃ©dica                                    877866
 ObstetrÃ­cia                                       683679
 Pediatria                                         405430
 Psiquiatria                                        71848
 ReabilitaÃ§Ã£o                                       14734
 CrÃ´nicos                                            5843
 Hospital dia (cirÃºrgicos)                           5630
 Hospital dia (saÃºde mental)                         5333
 Hospital dia (AIDS)                                 2663
 Pneumologia sanitÃ¡ria                               2074
 Hospital dia (intercorrÃªncia pÃ³s transplantes)      1761
Name: ESPEC, dtype: int64

In [14]:
financ = pd.read_csv(FINANC, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, financ, left_on='FINANC', right_on=0, how='left')
del df['FINANC']
del df[0]
df.rename(columns={1:'FINANC'}, inplace=True)

df['FINANC'].value_counts()

 MÃ©dia e Alta Complexidade (MAC)                    2891817
 Fundo de AÃ§Ãµes EstratÃ©gicas e CompensaÃ§Ãµes FAEC      64526
Name: FINANC, dtype: int64

In [15]:
gestao = pd.read_csv(GESTAO, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, gestao, left_on='GESTAO', right_on=0, how='left')
del df['GESTAO']
del df[0]
df.rename(columns={1:'GESTAO'}, inplace=True)

df['GESTAO'].value_counts()

 Municipal planea assist    2765452
 Estadual plena              190891
Name: GESTAO, dtype: int64

In [16]:
ident = pd.read_csv(IDENT, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, ident, left_on='IDENT', right_on=0, how='left')
del df['IDENT']
del df[0]
df.rename(columns={1:'IDENT'}, inplace=True)

df['IDENT'].value_counts()

 Principal            2923877
 Longa permanÃªncia      32466
Name: IDENT, dtype: int64

In [17]:
instru = pd.read_csv(INSTRU, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, instru, left_on='INSTRU', right_on=0, how='left')
del df['INSTRU']
del df[0]
df.rename(columns={1:'INSTRU'}, inplace=True)

df['INSTRU'].value_counts()

 1Âº grau       10927
 2Âº grau       10009
 Analfabeto     3540
 3Âº grau         816
Name: INSTRU, dtype: int64

In [18]:
marca_uti = pd.read_csv(MARCA_UTI, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, marca_uti, left_on='MARCA_UTI', right_on=0, how='left')
del df['MARCA_UTI']
del df[0]
df.rename(columns={1:'MARCA_UTI'}, inplace=True)

df['MARCA_UTI'].value_counts()

 NÃ£o utilizou UTI                         2824357
 UTI adulto - tipo II                       84751
 UTI neonatal - tipo II                     22723
 UTI infantil - tipo II                      9442
 UTI coronariana tipo II - UCO tipo II       8401
 UTI adulto - tipo I                         3627
 UTI Doador                                  1127
 UTI infantil - tipo I                       1123
 UTI adulto - tipo III                        576
 Utilizou mais de um tipo de UTI              216
Name: MARCA_UTI, dtype: int64

In [19]:
nacional = pd.read_csv(NACIONAL, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, nacional, left_on='NACIONAL', right_on=0, how='left')
del df['NACIONAL']
del df[0]
df.rename(columns={1:'NACIONAL'}, inplace=True)

df['NACIONAL'].value_counts()

 Brasil                  2944167
 Republica dominicana       8611
 Colombia                   2118
 Mexico                      148
 Gibraltar                   139
                          ...
 Albania                       1
 India                         1
 Romenia                       1
 Filipinas                     1
 Bulgaria                      1
Name: NACIONAL, Length: 104, dtype: int64

In [20]:
nat_jur = pd.read_csv(NAT_JUR, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, nat_jur, left_on='NAT_JUR', right_on=0, how='left')
del df['NAT_JUR']
del df[0]
df.rename(columns={1:'NAT_JUR'}, inplace=True)

df['NAT_JUR'].value_counts()

 AssociaÃ§Ã£o Privada                                   1161035
 Ã“rgÃ£o PÃºblico do Poder Exec Estadual ou Distr Fed     491473
 Ã“rgÃ£o PÃºblico do Poder Executivo Municipal            420831
 Autarquia Municipal                                   127740
 Autarquia Federal                                     120553
 Sociedade Simples Limitada                            103782
 FundaÃ§Ã£o Privada                                       92476
 Sociedade EmpresÃ¡ria Limitada                          41108
 FundaÃ§Ã£o Municipal                                     33949
 FundaÃ§Ã£o Estadual ou do Distrito Federal                6313
 Fundo PÃºblico                                           3104
 Sociedade AnÃ´nima Fechada                               2442
Name: NAT_JUR, dtype: int64

In [21]:
raca_cor = pd.read_csv(RACA_COR, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, raca_cor, left_on='RACA_COR', right_on=0, how='left')
del df['RACA_COR']
del df[0]
df.rename(columns={1:'RACA_COR'}, inplace=True)

df['RACA_COR'].value_counts()

 Parda       1755992
 Branca       237302
 Amarela      104916
 Preta         33434
 IndÃ­gena       1209
Name: RACA_COR, dtype: int64

In [22]:
regct = pd.read_csv(REGCT, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, regct, left_on='REGCT', right_on=0, how='left')
del df['REGCT']
del df[0]
df.rename(columns={1:'REGCT'}, inplace=True)

df['REGCT'].value_counts()

 Sem regra contratual                                                                         2632266
 ESTABELECIMENTO DE SAUDE SEM GERACAO DE CREDITO NA MEDIA COMPLEXIDADE HOSPITALAR              184750
 ESTABELECIMENTO SEM GERACAO DE CREDITO TOTAL-MEC                                              120576
 ESTABELECIMENTO SEM GERAÃ‡ÃƒO DE CREDITO TOTAL - INCLUINDO FAEC - EXCLUSIVO PARA REDE SARAH      16529
 ESTABELECIMENTO SEM GERAÃ‡ÃƒO DE CREDITO TOTAL - EXCLUINDO FAEC                                   2242
Name: REGCT, dtype: int64

In [23]:
sexo = pd.read_csv(SEXO, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, sexo, left_on='SEXO', right_on=0, how='left')
del df['SEXO']
del df[0]
df.rename(columns={1:'SEXO'}, inplace=True)

df['SEXO'].value_counts()

 Feminino     1780456
 Masculino    1175907
Name: SEXO, dtype: int64

In [24]:
df.head(2)

,ANO_CMPT,MES_CMPT,CGC_HOSP,N_AIH,CEP,NASC,UTI_MES_TO,UTI_INT_TO,DIAR_ACOM,QT_DIARIAS,...,FINANC,GESTAO,IDENT,INSTRU,MARCA_UTI,NACIONAL,NAT_JUR,RACA_COR,REGCT,SEXO
0,2014,1,5.268526e+12,2314100004788,62900000,20140117,2,0,0,5,...,MÃ©dia e Alta Complexidade (MAC),Estadual plena,Principal,NaN,UTI neonatal - tipo II,Brasil,AssociaÃ§Ã£o Privada,NaN,Sem regra contratual,Feminino
1,2014,1,5.268526e+12,2314100004854,62755000,20110912,0,0,0,10,...,MÃ©dia e Alta Complexidade (MAC),Estadual plena,Principal,NaN,NÃ£o utilizou UTI,Brasil,AssociaÃ§Ã£o Privada,NaN,Sem regra contratual,Feminino

In [25]:
def realIdade(row):
    if (row.COD_IDADE == ' Anos'):
        return row.IDADE;
    else:
        return 0

df['IDADE_REAL'] = df.apply(realIdade, axis = 1)
df.IDADE_REAL.value_counts()

0     189499
21     63450
20     63259
22     62915
19     61043
       ...
95      2764
96      2231
97      1723
98      1230
99       960
Name: IDADE_REAL, Length: 100, dtype: int64

In [28]:
df.to_csv(INTERNACOES)

In [30]:
df = df[df.MUNIC_RES == 'Fortaleza']
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 867020 entries, 2 to 2953258
Data columns (total 51 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ANO_CMPT    867020 non-null  int64
 1   MES_CMPT    867020 non-null  int64
 2   CGC_HOSP    810572 non-null  float64
 3   N_AIH       867020 non-null  int64
 4   CEP         867020 non-null  int64
 5   NASC        867020 non-null  int64
 6   UTI_MES_TO  867020 non-null  int64
 7   UTI_INT_TO  867020 non-null  int64
 8   DIAR_ACOM   867020 non-null  int64
 9   QT_DIARIAS  867020 non-null  int64
 10  PROC_SOLIC  867020 non-null  int64
 11  PROC_REA    867020 non-null  int64
 12  VAL_SH      867020 non-null  float64
 13  VAL_SP      867020 non-null  float64
 14  VAL_TOT     867020 non-null  float64
 15  VAL_UTI     867020 non-null  float64
 16  DT_INTER    867020 non-null  int64
 17  DT_SAIDA    867020 non-null  int64
 18  DIAG_PRINC  867020 non-null  object
 19  NATUREZA    867020 non-null  int64
 20  IND_VDRL    867020 non-null  int64
 21  IDADE       867020 non-null  int64
 22  DIAS_PERM   867020 non-null  int64
 23  MORTE       867020 non-null  int64
 24  HOMONIMO    867020 non-null  int64
 25  GESTRISCO   867020 non-null  int64
 26  CNES        867020 non-null  int64
 27  CNPJ_MANT   596693 non-null  float64
 28  CID_ASSO    722090 non-null  object
 29  CID_MORTE   726960 non-null  object
 30  SEQUENCIA   867020 non-null  int64
 31  REMESSA     867020 non-null  object
 32  MUNIC_RES   867020 non-null  object
 33  MUNIC_MOV   867020 non-null  object
 34  UF_ZI       817802 non-null  object
 35  CAR_INT     867020 non-null  object
 36  COBRANCA    867020 non-null  object
 37  COD_IDADE   866679 non-null  object
 38  COMPLEX     867020 non-null  object
 39  ESPEC       867020 non-null  object
 40  FINANC      867020 non-null  object
 41  GESTAO      867020 non-null  object
 42  IDENT       867020 non-null  object
 43  INSTRU      4181 non-null    object
 44  MARCA_UTI   867020 non-null  object
 45  NACIONAL    867020 non-null  object
 46  NAT_JUR     857639 non-null  object
 47  RACA_COR    578683 non-null  object
 48  REGCT       867020 non-null  object
 49  SEXO        867020 non-null  object
 50  IDADE_REAL  867020 non-null  int64
dtypes: float64(6), int64(23), object(22)
memory usage: 344.0+ MB

In [31]:
df.to_csv(INTERNACOES_FOR)