## Limpeza de Base

| Arquivo | Tamanho Original | Linhas | Colunas | Tamanho Final | Colunas Relevantes | Arquivo Limpo |
| --- | --- | --- | --- | --- | --- | --- |
| df_internacoes.csv | 1,59 GB | 2.956.343 | 113 | 1,41 GB | 53 | internacoes.csv |
| internacoes.csv | 1,41 GB | 2.956.343 | 53 |
| internacoes_fortaleza.csv | 446 MB | 867.020 | 53 |

- Internacoes.csv [ https://drive.google.com/file/d/1-5EJi6zieQY9RSMpzBUj_pYjAH0C0xJW/view?usp=sharing ]
- Internacoes_Fortaleza.csv [ https://drive.google.com/file/d/1-COBYNnFldb7NkW2SiHbJV51VWTUHB4G/view?usp=sharing ] 

- Bases Mescladas
    - mu_ibge - Municipios IBGE
    - cid_10 - Descrições CID_10
    - cep - CEP registrados na base dos Correios
    - car_int - Caráter da internação
    - cobranca - Motivo de saída/permanência
    - cod_idade - Unidade de medida da idade
    - complex - Complexidade
    - espec - Especialidade do leito
    - financ - Tipo de financiamento
    - gestao - Indica o tipo de gestão do hospital
    - ident - Identificação do tipo da AIH
    - instru - Grau de instrução do paciente
    - marca_uti - Indica qual o tipo de UTI utilizada pelo paciente
    - nacional - Nacionalidade do paciente
    - nat_jur - Natureza jurídica do estabelecimento, conforme a Comissão Nacional de Classificação - CONCLA
    - raca_cor - Raça/cor do paciente
    - regct - Regra contratual
    - Sexo do paciente

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# coding: utf-8

import pandas as pd

DF_INTERNACOES = "/content/drive/MyDrive/Colab Notebooks/df_internacoes.csv"

INTERNACOES = "/content/drive/MyDrive/Colab Notebooks/internacoes.csv"
INTERNACOES_FOR = "/content/drive/MyDrive/Colab Notebooks/internacoes_fortaleza.csv"

MU_IBGE = "/content/drive/MyDrive/Colab Notebooks/mun_ibge.csv"
CID_10 = "/content/drive/MyDrive/Colab Notebooks/CID-10-SUBCATEGORIAS.CSV"
CEP = "/content/drive/MyDrive/Colab Notebooks/cep.csv"

## https://github.com/rfsaldanha/microdatasus/wiki/Conven%C3%A7%C3%B5es-SIH-RD
CAR_INT = "/content/drive/MyDrive/Colab Notebooks/car_int.csv"
COBRANCA = "/content/drive/MyDrive/Colab Notebooks/cobranca.csv"
COD_IDADE = "/content/drive/MyDrive/Colab Notebooks/cod_idade.csv"
COMPLEX = "/content/drive/MyDrive/Colab Notebooks/complex.csv"
ESPEC = "/content/drive/MyDrive/Colab Notebooks/espec.csv"
FINANC = "/content/drive/MyDrive/Colab Notebooks/financ.csv"
GESTAO = "/content/drive/MyDrive/Colab Notebooks/gestao.csv"
IDENT = "/content/drive/MyDrive/Colab Notebooks/ident.csv"
INSTRU = "/content/drive/MyDrive/Colab Notebooks/instru.csv"
MARCA_UTI = "/content/drive/MyDrive/Colab Notebooks/marca_uti.csv"
NACIONAL = "/content/drive/MyDrive/Colab Notebooks/nacional.csv"
NAT_JUR = "/content/drive/MyDrive/Colab Notebooks/nat_jur.csv"
RACA_COR = "/content/drive/MyDrive/Colab Notebooks/raca_cor.csv"
REGCT = "/content/drive/MyDrive/Colab Notebooks/regct.csv"
SEXO = "/content/drive/MyDrive/Colab Notebooks/sexo.csv"

In [3]:
# Colunas relativamente significantes da DF_INTERNACOES
column = [
    'UF_ZI',
    'ANO_CMPT', 
    'MES_CMPT', 
    'ESPEC', 
    'CGC_HOSP', 
    'N_AIH',
    'IDENT', 
    'CEP', 
    'MUNIC_RES', 
    'NASC', 
    'SEXO',
    'UTI_MES_TO', 
    'MARCA_UTI', 
    'UTI_INT_TO', 
    'DIAR_ACOM', 
    'QT_DIARIAS', 
    'PROC_SOLIC', 
    'PROC_REA',
    'VAL_SH', 
    'VAL_SP', 
    'VAL_TOT', 
    'VAL_UTI', 
    'DT_INTER', 
    'DT_SAIDA', 
    'DIAG_PRINC', 
    'COBRANCA', 
    'NATUREZA', 
    'NAT_JUR',
    'GESTAO', 
    'IND_VDRL', 
    'MUNIC_MOV',
    'COD_IDADE', 
    'IDADE', 
    'DIAS_PERM', 
    'MORTE', 
    'NACIONAL',
    'CAR_INT', 
    'HOMONIMO', 
    'INSTRU', 
    'GESTRISCO', 
    'CNES', 
    'CNPJ_MANT', 
    'CID_ASSO', 
    'CID_MORTE', 
    'COMPLEX', 
    'FINANC',
    'REGCT', 
    'RACA_COR'
]

In [4]:
df = pd.read_csv(DF_INTERNACOES, usecols=column, encoding= 'unicode_escape')
df.head(2)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (77,78) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,INSTRU,GESTRISCO,CNES,CNPJ_MANT,CID_ASSO,CID_MORTE,COMPLEX,FINANC,REGCT,RACA_COR
0,230000,2014,1,7,5.268526e+12,2314100004788,1,62900000,231180,20140117,...,0,1,2785900,5.268526e+12,NaN,NaN,2,6,0,99
1,230000,2014,1,7,5.268526e+12,2314100004854,1,62755000,230945,20110912,...,0,1,2785900,5.268526e+12,NaN,NaN,2,6,0,99

In [5]:
df['NASC'] = pd.to_datetime(df['NASC'].astype(str))
df['DT_INTER'] = pd.to_datetime(df['DT_INTER'].astype(str))
df['DT_SAIDA'] = pd.to_datetime(df['DT_INTER'].astype(str))

In [6]:
cep = pd.read_csv(CEP, sep=';')

df = pd.merge(df, cep, left_on='CEP', right_on='CEP', how='left')
df.BAIRRO.value_counts().head(5)

Centro                  183339
Edson Queiroz            34863
Moura Brasil             32972
Prefeito José Walter     32296
Barra do Ceará           29270
Name: BAIRRO, dtype: int64

In [7]:
cid_10 = pd.read_csv(CID_10, sep=';', usecols=['SUBCAT', 'DESCRABREV'], encoding= 'unicode_escape')

In [8]:
df = pd.merge(df, cid_10, left_on='DIAG_PRINC', right_on='SUBCAT', how='left')
del df['DIAG_PRINC']
del df['SUBCAT']
df.rename(columns={'DESCRABREV':'DIAG_PRINC'}, inplace=True)

df.DIAG_PRINC.value_counts().head(5)

O80.0 Parto espontaneo cefalico                      244023
J18.9 Pneumonia NE                                    75650
O82.1 Parto p/cesariana de emergencia                 42086
I64   Acid vasc cerebr NE como hemorrag isquemico     40590
J15.8 Outr pneumonias bacter                          38478
Name: DIAG_PRINC, dtype: int64

In [9]:
df = pd.merge(df, cid_10, left_on='CID_ASSO', right_on='SUBCAT', how='left')
del df['CID_ASSO']
del df['SUBCAT']
df.rename(columns={'DESCRABREV':'CID_ASSO'}, inplace=True)

df.CID_ASSO.value_counts().head(5)

P59.9 Ictericia neonatal NE                       198
P22.9 Desconforto respirat NE do recem-nascido    177
P39.9 Infecc propria do periodo perinatal NE       97
N17.9 Insuf renal aguda NE                         81
P07.2 Imaturidade extrema                          50
Name: CID_ASSO, dtype: int64

In [10]:
df = pd.merge(df, cid_10, left_on='CID_MORTE', right_on='SUBCAT', how='left')
del df['CID_MORTE']
del df['SUBCAT']
df.rename(columns={'DESCRABREV':'CID_MORTE'}, inplace=True)

df.CID_MORTE.value_counts().head(5)

I46.9 Parada cardiaca NE                             3109
J96.0 Insuf respirat aguda                           1594
A41.9 Septicemia NE                                   920
A31.9 Infecc micobacteriana NE                        737
I64   Acid vasc cerebr NE como hemorrag isquemico     623
Name: CID_MORTE, dtype: int64

In [11]:
ibge = pd.read_csv(MU_IBGE, sep=';', usecols=['codmu', 'nomemu'], encoding= 'unicode_escape')

In [12]:
df = pd.merge(df, ibge, left_on='MUNIC_RES', right_on='codmu', how='left')
del df['MUNIC_RES']
del df['codmu']
df.rename(columns={'nomemu':'MUNIC_RES'}, inplace=True)

df.MUNIC_RES.value_counts().head(5)

Fortaleza            867018
Caucaia              103514
Maracanaú             92915
Juazeiro do Norte     77804
Sobral                73101
Name: MUNIC_RES, dtype: int64

In [13]:
df = pd.merge(df, ibge, left_on='MUNIC_MOV', right_on='codmu', how='left')
del df['MUNIC_MOV']
del df['codmu']
df.rename(columns={'nomemu':'MUNIC_MOV'}, inplace=True)

df.MUNIC_MOV.value_counts().head(5)

Fortaleza            1285549
Sobral                220691
Maracanaú              96418
Juazeiro do Norte      90582
Barbalha               88350
Name: MUNIC_MOV, dtype: int64

In [14]:
df = pd.merge(df, ibge, left_on='UF_ZI', right_on='codmu', how='left')
del df['UF_ZI']
del df['codmu']
df.rename(columns={'nomemu':'UF_ZI'}, inplace=True)

df.UF_ZI.value_counts().head(5)

Fortaleza    1218733
Sobral        159699
Maracanaú      96418
Barbalha       88350
Crato          76379
Name: UF_ZI, dtype: int64

In [15]:
car_int = pd.read_csv(CAR_INT, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, car_int, left_on='CAR_INT', right_on=0, how='left')
del df['CAR_INT']
del df[0]
df.rename(columns={1:'CAR_INT'}, inplace=True)

df['CAR_INT'].value_counts()

 Urgência                                          2402338
 Eletivo                                            491829
 Outros tipo de acidente de trânsito                 41518
 Out tp lesões e envenen por agent quím físicos      20658
Name: CAR_INT, dtype: int64

In [16]:
cobranca = pd.read_csv(COBRANCA, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, cobranca, left_on='COBRANCA', right_on=0, how='left')
del df['COBRANCA']
del df[0]
df.rename(columns={1:'COBRANCA'}, inplace=True)

df['COBRANCA'].value_counts()

 Alta melhorado                                        1761119
 Alta da mãe/puérpera e do recém-nascido                561866
 Óbito com DO fornecida pelo médico assistente          102766
 Transferência para outro estabelecimento                94234
 Alta curado                                             92757
 Permanência por características próprias da doença      64590
 Permanência por intercorrência                          61920
 Permanência por reoperação                              44842
 Alta a pedido                                           41079
 Alta da mãe/puérpera e permanência recém-nascido        40827
 Alta com previsão de retorno p/acomp do paciente        24946
 Permanência por mudança de procedimento                 14840
 Encerramento administrativo                             14540
 Alta por outros motivos                                  8544
 Permanência proc doação órg, tec, cél-doador morto       7327
 Alta por evasão                                          6532
 Alta da mãe/puérpera com óbito fetal                     3842
 Óbito com DO fornecida pelo IML                          3635
 Óbito com DO fornecida pelo SVO                          2910
 Alta da mãe/puérpera e óbito do recém-nascido            2124
 Permanência por outros motivos                            575
 Permanência proc doação órg, tec, cél-doador vivo         347
 Permanência por impossibilidade sócio-familiar             67
 Óbito da mãe/puérpera e alta do recém-nascido              60
 Óbito da mãe/puérpera e permanência recém-nascido          26
 Óbito da gestante e do concepto                            26
 Alta de paciente agudo em psiquiatria                       1
 Transferência para internação domiciliar                    1
Name: COBRANCA, dtype: int64

In [17]:
cod_idade = pd.read_csv(COD_IDADE, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, cod_idade, left_on='COD_IDADE', right_on=0, how='left')
del df['COD_IDADE']
del df[0]
df.rename(columns={1:'COD_IDADE'}, inplace=True)

df['COD_IDADE'].value_counts()

 Anos     2766844
 Dias      116095
 Meses      71138
Name: COD_IDADE, dtype: int64

In [18]:
complex_ = pd.read_csv(COMPLEX, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, complex_, left_on='COMPLEX', right_on=0, how='left')
del df['COMPLEX']
del df[0]
df.rename(columns={1:'COMPLEX'}, inplace=True)

df['COMPLEX'].value_counts()

 Média complexidade    2779450
 Alta complexidade      176893
Name: COMPLEX, dtype: int64

In [19]:
espec = pd.read_csv(ESPEC, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, espec, left_on='ESPEC', right_on=0, how='left')
del df['ESPEC']
del df[0]
df.rename(columns={1:'ESPEC'}, inplace=True)

df['ESPEC'].value_counts()

 Cirurgia                                          879208
 Clínica médica                                    877866
 Obstetrícia                                       683679
 Pediatria                                         405430
 Psiquiatria                                        71848
 Reabilitação                                       14734
 Crônicos                                            5843
 Hospital dia (cirúrgicos)                           5630
 Hospital dia (saúde mental)                         5333
 Hospital dia (AIDS)                                 2663
 Pneumologia sanitária                               2074
 Hospital dia (intercorrência pós transplantes)      1761
Name: ESPEC, dtype: int64

In [20]:
financ = pd.read_csv(FINANC, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, financ, left_on='FINANC', right_on=0, how='left')
del df['FINANC']
del df[0]
df.rename(columns={1:'FINANC'}, inplace=True)

df['FINANC'].value_counts()

 Média e Alta Complexidade (MAC)                    2891817
 Fundo de Ações Estratégicas e Compensações FAEC      64526
Name: FINANC, dtype: int64

In [21]:
gestao = pd.read_csv(GESTAO, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, gestao, left_on='GESTAO', right_on=0, how='left')
del df['GESTAO']
del df[0]
df.rename(columns={1:'GESTAO'}, inplace=True)

df['GESTAO'].value_counts()

 Municipal planea assist    2765452
 Estadual plena              190891
Name: GESTAO, dtype: int64

In [22]:
ident = pd.read_csv(IDENT, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, ident, left_on='IDENT', right_on=0, how='left')
del df['IDENT']
del df[0]
df.rename(columns={1:'IDENT'}, inplace=True)

df['IDENT'].value_counts()

 Principal            2923877
 Longa permanência      32466
Name: IDENT, dtype: int64

In [23]:
instru = pd.read_csv(INSTRU, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, instru, left_on='INSTRU', right_on=0, how='left')
del df['INSTRU']
del df[0]
df.rename(columns={1:'INSTRU'}, inplace=True)

df['INSTRU'].value_counts()

 1º grau       10927
 2º grau       10009
 Analfabeto     3540
 3º grau         816
Name: INSTRU, dtype: int64

In [24]:
marca_uti = pd.read_csv(MARCA_UTI, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, marca_uti, left_on='MARCA_UTI', right_on=0, how='left')
del df['MARCA_UTI']
del df[0]
df.rename(columns={1:'MARCA_UTI'}, inplace=True)

df['MARCA_UTI'].value_counts()

 Não utilizou UTI                         2824357
 UTI adulto - tipo II                       84751
 UTI neonatal - tipo II                     22723
 UTI infantil - tipo II                      9442
 UTI coronariana tipo II - UCO tipo II       8401
 UTI adulto - tipo I                         3627
 UTI Doador                                  1127
 UTI infantil - tipo I                       1123
 UTI adulto - tipo III                        576
 Utilizou mais de um tipo de UTI              216
Name: MARCA_UTI, dtype: int64

In [25]:
nacional = pd.read_csv(NACIONAL, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, nacional, left_on='NACIONAL', right_on=0, how='left')
del df['NACIONAL']
del df[0]
df.rename(columns={1:'NACIONAL'}, inplace=True)

df['NACIONAL'].value_counts().head(5)

 Brasil                  2944167
 Republica dominicana       8611
 Colombia                   2118
 Mexico                      148
 Gibraltar                   139
Name: NACIONAL, dtype: int64

In [26]:
nat_jur = pd.read_csv(NAT_JUR, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, nat_jur, left_on='NAT_JUR', right_on=0, how='left')
del df['NAT_JUR']
del df[0]
df.rename(columns={1:'NAT_JUR'}, inplace=True)

df['NAT_JUR'].value_counts()

 Associação Privada                                   1161035
 Órgão Público do Poder Exec Estadual ou Distr Fed     491473
 Órgão Público do Poder Executivo Municipal            420831
 Autarquia Municipal                                   127740
 Autarquia Federal                                     120553
 Sociedade Simples Limitada                            103782
 Fundação Privada                                       92476
 Sociedade Empresária Limitada                          41108
 Fundação Municipal                                     33949
 Fundação Estadual ou do Distrito Federal                6313
 Fundo Público                                           3104
 Sociedade Anônima Fechada                               2442
Name: NAT_JUR, dtype: int64

In [27]:
raca_cor = pd.read_csv(RACA_COR, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, raca_cor, left_on='RACA_COR', right_on=0, how='left')
del df['RACA_COR']
del df[0]
df.rename(columns={1:'RACA_COR'}, inplace=True)

df['RACA_COR'].value_counts()

 Parda       1755992
 Branca       237302
 Amarela      104916
 Preta         33434
 Indígena       1209
Name: RACA_COR, dtype: int64

In [28]:
regct = pd.read_csv(REGCT, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, regct, left_on='REGCT', right_on=0, how='left')
del df['REGCT']
del df[0]
df.rename(columns={1:'REGCT'}, inplace=True)

df['REGCT'].value_counts()

 Sem regra contratual                                                                         2632266
 ESTABELECIMENTO DE SAUDE SEM GERACAO DE CREDITO NA MEDIA COMPLEXIDADE HOSPITALAR              184750
 ESTABELECIMENTO SEM GERACAO DE CREDITO TOTAL-MEC                                              120576
 ESTABELECIMENTO SEM GERAÇÃO DE CREDITO TOTAL - INCLUINDO FAEC - EXCLUSIVO PARA REDE SARAH      16529
 ESTABELECIMENTO SEM GERAÇÃO DE CREDITO TOTAL - EXCLUINDO FAEC                                   2242
Name: REGCT, dtype: int64

In [29]:
sexo = pd.read_csv(SEXO, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, sexo, left_on='SEXO', right_on=0, how='left')
del df['SEXO']
del df[0]
df.rename(columns={1:'SEXO'}, inplace=True)

df['SEXO'].value_counts()

 Feminino     1780456
 Masculino    1175907
Name: SEXO, dtype: int64

In [30]:
def realIdade(row):
    if (row.COD_IDADE == ' Anos'):
        return row.IDADE;
    else:
        return 0

df['IDADE_REAL'] = df.apply(realIdade, axis = 1)
df.IDADE_REAL.value_counts().head(5)

0     189499
21     63450
20     63259
22     62915
19     61043
Name: IDADE_REAL, dtype: int64

In [31]:
df.head(2)

,ANO_CMPT,MES_CMPT,CGC_HOSP,N_AIH,CEP,NASC,UTI_MES_TO,UTI_INT_TO,DIAR_ACOM,QT_DIARIAS,...,GESTAO,IDENT,INSTRU,MARCA_UTI,NACIONAL,NAT_JUR,RACA_COR,REGCT,SEXO,IDADE_REAL
0,2014,1,5.268526e+12,2314100004788,62900000,2014-01-17,2,0,0,5,...,Estadual plena,Principal,NaN,UTI neonatal - tipo II,Brasil,Associação Privada,NaN,Sem regra contratual,Feminino,0
1,2014,1,5.268526e+12,2314100004854,62755000,2011-09-12,0,0,0,10,...,Estadual plena,Principal,NaN,Não utilizou UTI,Brasil,Associação Privada,NaN,Sem regra contratual,Feminino,2

In [32]:
df.to_csv(INTERNACOES, index=False)

In [33]:
df = df[df.MUNIC_RES == 'Fortaleza']
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 867020 entries, 2 to 2953258
Data columns (total 53 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ANO_CMPT    867020 non-null  int64
 1   MES_CMPT    867020 non-null  int64
 2   CGC_HOSP    810572 non-null  float64
 3   N_AIH       867020 non-null  int64
 4   CEP         867020 non-null  int64
 5   NASC        867020 non-null  datetime64[ns]
 6   UTI_MES_TO  867020 non-null  int64
 7   UTI_INT_TO  867020 non-null  int64
 8   DIAR_ACOM   867020 non-null  int64
 9   QT_DIARIAS  867020 non-null  int64
 10  PROC_SOLIC  867020 non-null  int64
 11  PROC_REA    867020 non-null  int64
 12  VAL_SH      867020 non-null  float64
 13  VAL_SP      867020 non-null  float64
 14  VAL_TOT     867020 non-null  float64
 15  VAL_UTI     867020 non-null  float64
 16  DT_INTER    867020 non-null  datetime64[ns]
 17  DT_SAIDA    867020 non-null  datetime64[ns]
 18  NATUREZA    867020 non-null  int64
 19  IND_VDRL    867020 non-null  int64
 20  IDADE       867020 non-null  int64
 21  DIAS_PERM   867020 non-null  int64
 22  MORTE       867020 non-null  int64
 23  HOMONIMO    867020 non-null  int64
 24  GESTRISCO   867020 non-null  int64
 25  CNES        867020 non-null  int64
 26  CNPJ_MANT   596693 non-null  float64
 27  UF          782213 non-null  object
 28  CIDADE      782213 non-null  object
 29  BAIRRO      782182 non-null  object
 30  LOGRADOURO  782213 non-null  object
 31  DIAG_PRINC  866565 non-null  object
 32  CID_ASSO    410 non-null     object
 33  CID_MORTE   5280 non-null    object
 34  MUNIC_RES   867020 non-null  object
 35  MUNIC_MOV   867020 non-null  object
 36  UF_ZI       817802 non-null  object
 37  CAR_INT     867020 non-null  object
 38  COBRANCA    867020 non-null  object
 39  COD_IDADE   866679 non-null  object
 40  COMPLEX     867020 non-null  object
 41  ESPEC       867020 non-null  object
 42  FINANC      867020 non-null  object
 43  GESTAO      867020 non-null  object
 44  IDENT       867020 non-null  object
 45  INSTRU      4181 non-null    object
 46  MARCA_UTI   867020 non-null  object
 47  NACIONAL    867020 non-null  object
 48  NAT_JUR     857639 non-null  object
 49  RACA_COR    578683 non-null  object
 50  REGCT       867020 non-null  object
 51  SEXO        867020 non-null  object
 52  IDADE_REAL  867020 non-null  int64
dtypes: datetime64[ns](3), float64(6), int64(19), object(25)
memory usage: 357.2+ MB

In [34]:
df.to_csv(INTERNACOES_FOR, index=False)