In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [30]:
# coding: utf-8

import pandas as pd

DF_INTERNACOES = "/content/drive/MyDrive/Colab Notebooks/df_internacoes.csv"
INTERNACOES = "/content/drive/MyDrive/Colab Notebooks/internacoes_filter.csv"
INTERNACOES_NOVO = "/content/drive/MyDrive/Colab Notebooks/internacoes.csv"
INTERNACOES_FOR = "/content/drive/MyDrive/Colab Notebooks/internacoes_fortaleza.csv"

MU_IBGE = "/content/drive/MyDrive/Colab Notebooks/mun_ibge.csv"

## https://github.com/rfsaldanha/microdatasus/wiki/Conven%C3%A7%C3%B5es-SIH-RD
CAR_INT = "/content/drive/MyDrive/Colab Notebooks/car_int.csv"
COBRANCA = "/content/drive/MyDrive/Colab Notebooks/cobranca.csv"
COD_IDADE = "/content/drive/MyDrive/Colab Notebooks/cod_idade.csv"
COMPLEX = "/content/drive/MyDrive/Colab Notebooks/complex.csv"
ESPEC = "/content/drive/MyDrive/Colab Notebooks/espec.csv"
FINANC = "/content/drive/MyDrive/Colab Notebooks/financ.csv"
GESTAO = "/content/drive/MyDrive/Colab Notebooks/gestao.csv"
IDENT = "/content/drive/MyDrive/Colab Notebooks/ident.csv"
INSTRU = "/content/drive/MyDrive/Colab Notebooks/instru.csv"
MARCA_UTI = "/content/drive/MyDrive/Colab Notebooks/marca_uti.csv"
NACIONAL = "/content/drive/MyDrive/Colab Notebooks/nacional.csv"
NAT_JUR = "/content/drive/MyDrive/Colab Notebooks/nat_jur.csv"
RACA_COR = "/content/drive/MyDrive/Colab Notebooks/raca_cor.csv"
REGCT = "/content/drive/MyDrive/Colab Notebooks/regct.csv"
SEXO = "/content/drive/MyDrive/Colab Notebooks/sexo.csv"

In [3]:
# Colunas relativamente significantes da DF_INTERNACOES
column = [
    'UF_ZI',
    'ANO_CMPT', 
    'MES_CMPT', 
    'ESPEC', 
    'CGC_HOSP', 
    'N_AIH',
    'IDENT', 
    'CEP', 
    'MUNIC_RES', 
    'NASC', 
    'SEXO',
    'UTI_MES_TO', 
    'MARCA_UTI', 
    'UTI_INT_TO', 
    'DIAR_ACOM', 
    'QT_DIARIAS', 
    'PROC_SOLIC', 
    'PROC_REA',
    'VAL_SH', 
    'VAL_SP', 
    'VAL_TOT', 
    'VAL_UTI', 
    'DT_INTER', 
    'DT_SAIDA', 
    'DIAG_PRINC', 
    'COBRANCA', 
    'NATUREZA', 
    'NAT_JUR',
    'GESTAO', 
    'IND_VDRL', 
    'MUNIC_MOV',
    'COD_IDADE', 
    'IDADE', 
    'DIAS_PERM', 
    'MORTE', 
    'NACIONAL',
    'CAR_INT', 
    'HOMONIMO', 
    'INSTRU', 
    'GESTRISCO', 
    'CNES', 
    'CNPJ_MANT', 
    'CID_ASSO', 
    'CID_MORTE', 
    'COMPLEX', 
    'FINANC',
    'REGCT', 
    'RACA_COR', 
    'SEQUENCIA', 
    'REMESSA'
]

In [4]:
df = pd.read_csv(DF_INTERNACOES, usecols=column, encoding= 'unicode_escape')
df.head(2)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (77,78) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,CEP,MUNIC_RES,NASC,...,CNES,CNPJ_MANT,CID_ASSO,CID_MORTE,COMPLEX,FINANC,REGCT,RACA_COR,SEQUENCIA,REMESSA
0,230000,2014,1,7,5.268526e+12,2314100004788,1,62900000,231180,20140117,...,2785900,5.268526e+12,NaN,NaN,2,6,0,99,1840,HE23000001N201401.DTS
1,230000,2014,1,7,5.268526e+12,2314100004854,1,62755000,230945,20110912,...,2785900,5.268526e+12,NaN,NaN,2,6,0,99,1841,HE23000001N201401.DTS

In [5]:
df.to_csv(INTERNACOES)

In [6]:
df = pd.read_csv(INTERNACOES)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (43,44) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
ibge = pd.read_csv(MU_IBGE, usecols=['codmu', 'nomemu'])
ibge.head(2)

    codmu                 nomemu
0  110001  Alta Floresta D'Oeste
1  110002              Ariquemes

In [8]:
df = pd.merge(df, ibge, left_on='MUNIC_RES', right_on='codmu', how='left')
del df['MUNIC_RES']
del df['codmu']
df.rename(columns={'nomemu':'MUNIC_RES'}, inplace=True)

df.MUNIC_RES.value_counts()

Fortaleza            867018
Caucaia              103514
Maracana�             92915
Juazeiro do Norte     77804
Sobral                73101
                      ...
Marilena                  1
Itanh�m                   1
Sinop                     1
Alta Floresta             1
Par� de Minas             1
Name: MUNIC_RES, Length: 1570, dtype: int64

In [9]:
df = pd.merge(df, ibge, left_on='MUNIC_MOV', right_on='codmu', how='left')
del df['MUNIC_MOV']
del df['codmu']
df.rename(columns={'nomemu':'MUNIC_MOV'}, inplace=True)

df.MUNIC_MOV.value_counts()

Fortaleza            1285549
Sobral                220691
Maracana�              96418
Juazeiro do Norte      90582
Barbalha               88350
                      ...
Granjeiro                186
Martin�pole              151
Erer�                    142
Palhano                   53
Quiterian�polis           38
Name: MUNIC_MOV, Length: 167, dtype: int64

In [10]:
df = pd.merge(df, ibge, left_on='UF_ZI', right_on='codmu', how='left')
del df['UF_ZI']
del df['codmu']
df.rename(columns={'nomemu':'UF_ZI'}, inplace=True)

df.UF_ZI.value_counts()

Fortaleza          1218733
Sobral              159699
Maracana�            96418
Barbalha             88350
Crato                76379
                    ...
Granjeiro              186
Martin�pole            151
Erer�                  142
Palhano                 53
Quiterian�polis         38
Name: UF_ZI, Length: 167, dtype: int64

In [11]:
car_int = pd.read_csv(CAR_INT, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, car_int, left_on='CAR_INT', right_on=0, how='left')
del df['CAR_INT']
del df[0]
df.rename(columns={1:'CAR_INT'}, inplace=True)

df['CAR_INT'].value_counts()

 Urgência                                          2402338
 Eletivo                                            491829
 Outros tipo de acidente de trânsito                 41518
 Out tp lesões e envenen por agent quím físicos      20658
Name: CAR_INT, dtype: int64

In [12]:
cobranca = pd.read_csv(COBRANCA, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, cobranca, left_on='COBRANCA', right_on=0, how='left')
del df['COBRANCA']
del df[0]
df.rename(columns={1:'COBRANCA'}, inplace=True)

df['COBRANCA'].value_counts()

 Alta melhorado                                        1761119
 Alta da mãe/puérpera e do recém-nascido                561866
 Óbito com DO fornecida pelo médico assistente          102766
 Transferência para outro estabelecimento                94234
 Alta curado                                             92757
 Permanência por características próprias da doença      64590
 Permanência por intercorrência                          61920
 Permanência por reoperação                              44842
 Alta a pedido                                           41079
 Alta da mãe/puérpera e permanência recém-nascido        40827
 Alta com previsão de retorno p/acomp do paciente        24946
 Permanência por mudança de procedimento                 14840
 Encerramento administrativo                             14540
 Alta por outros motivos                                  8544
 Permanência proc doação órg, tec, cél-doador morto       7327
 Alta por evasão                                          6532
 Alta da mãe/puérpera com óbito fetal                     3842
 Óbito com DO fornecida pelo IML                          3635
 Óbito com DO fornecida pelo SVO                          2910
 Alta da mãe/puérpera e óbito do recém-nascido            2124
 Permanência por outros motivos                            575
 Permanência proc doação órg, tec, cél-doador vivo         347
 Permanência por impossibilidade sócio-familiar             67
 Óbito da mãe/puérpera e alta do recém-nascido              60
 Óbito da mãe/puérpera e permanência recém-nascido          26
 Óbito da gestante e do concepto                            26
 Alta de paciente agudo em psiquiatria                       1
 Transferência para internação domiciliar                    1
Name: COBRANCA, dtype: int64

In [13]:
cod_idade = pd.read_csv(COD_IDADE, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, cod_idade, left_on='COD_IDADE', right_on=0, how='left')
del df['COD_IDADE']
del df[0]
df.rename(columns={1:'COD_IDADE'}, inplace=True)

df['COD_IDADE'].value_counts()

 Anos     2766844
 Dias      116095
 Meses      71138
Name: COD_IDADE, dtype: int64

In [14]:
complex_ = pd.read_csv(COMPLEX, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, complex_, left_on='COMPLEX', right_on=0, how='left')
del df['COMPLEX']
del df[0]
df.rename(columns={1:'COMPLEX'}, inplace=True)

df['COMPLEX'].value_counts()

 Média complexidade    2779450
 Alta complexidade      176893
Name: COMPLEX, dtype: int64

In [15]:
espec = pd.read_csv(ESPEC, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, espec, left_on='ESPEC', right_on=0, how='left')
del df['ESPEC']
del df[0]
df.rename(columns={1:'ESPEC'}, inplace=True)

df['ESPEC'].value_counts()

 Cirurgia                                          879208
 Clínica médica                                    877866
 Obstetrícia                                       683679
 Pediatria                                         405430
 Psiquiatria                                        71848
 Reabilitação                                       14734
 Crônicos                                            5843
 Hospital dia (cirúrgicos)                           5630
 Hospital dia (saúde mental)                         5333
 Hospital dia (AIDS)                                 2663
 Pneumologia sanitária                               2074
 Hospital dia (intercorrência pós transplantes)      1761
Name: ESPEC, dtype: int64

In [16]:
financ = pd.read_csv(FINANC, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, financ, left_on='FINANC', right_on=0, how='left')
del df['FINANC']
del df[0]
df.rename(columns={1:'FINANC'}, inplace=True)

df['FINANC'].value_counts()

 Média e Alta Complexidade (MAC)                    2891817
 Fundo de Ações Estratégicas e Compensações FAEC      64526
Name: FINANC, dtype: int64

In [17]:
gestao = pd.read_csv(GESTAO, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, gestao, left_on='GESTAO', right_on=0, how='left')
del df['GESTAO']
del df[0]
df.rename(columns={1:'GESTAO'}, inplace=True)

df['GESTAO'].value_counts()

 Municipal planea assist    2765452
 Estadual plena              190891
Name: GESTAO, dtype: int64

In [18]:
ident = pd.read_csv(IDENT, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, ident, left_on='IDENT', right_on=0, how='left')
del df['IDENT']
del df[0]
df.rename(columns={1:'IDENT'}, inplace=True)

df['IDENT'].value_counts()

 Principal            2923877
 Longa permanência      32466
Name: IDENT, dtype: int64

In [19]:
instru = pd.read_csv(INSTRU, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, instru, left_on='INSTRU', right_on=0, how='left')
del df['INSTRU']
del df[0]
df.rename(columns={1:'INSTRU'}, inplace=True)

df['INSTRU'].value_counts()

 1º grau       10927
 2º grau       10009
 Analfabeto     3540
 3º grau         816
Name: INSTRU, dtype: int64

In [20]:
marca_uti = pd.read_csv(MARCA_UTI, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, marca_uti, left_on='MARCA_UTI', right_on=0, how='left')
del df['MARCA_UTI']
del df[0]
df.rename(columns={1:'MARCA_UTI'}, inplace=True)

df['MARCA_UTI'].value_counts()

 Não utilizou UTI                         2824357
 UTI adulto - tipo II                       84751
 UTI neonatal - tipo II                     22723
 UTI infantil - tipo II                      9442
 UTI coronariana tipo II - UCO tipo II       8401
 UTI adulto - tipo I                         3627
 UTI Doador                                  1127
 UTI infantil - tipo I                       1123
 UTI adulto - tipo III                        576
 Utilizou mais de um tipo de UTI              216
Name: MARCA_UTI, dtype: int64

In [21]:
nacional = pd.read_csv(NACIONAL, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, nacional, left_on='NACIONAL', right_on=0, how='left')
del df['NACIONAL']
del df[0]
df.rename(columns={1:'NACIONAL'}, inplace=True)

df['NACIONAL'].value_counts()

 Brasil                  2944167
 Republica dominicana       8611
 Colombia                   2118
 Mexico                      148
 Gibraltar                   139
                          ...
 Albania                       1
 India                         1
 Romenia                       1
 Filipinas                     1
 Bulgaria                      1
Name: NACIONAL, Length: 104, dtype: int64

In [22]:
nat_jur = pd.read_csv(NAT_JUR, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, nat_jur, left_on='NAT_JUR', right_on=0, how='left')
del df['NAT_JUR']
del df[0]
df.rename(columns={1:'NAT_JUR'}, inplace=True)

df['NAT_JUR'].value_counts()

 Associação Privada                                   1161035
 Órgão Público do Poder Exec Estadual ou Distr Fed     491473
 Órgão Público do Poder Executivo Municipal            420831
 Autarquia Municipal                                   127740
 Autarquia Federal                                     120553
 Sociedade Simples Limitada                            103782
 Fundação Privada                                       92476
 Sociedade Empresária Limitada                          41108
 Fundação Municipal                                     33949
 Fundação Estadual ou do Distrito Federal                6313
 Fundo Público                                           3104
 Sociedade Anônima Fechada                               2442
Name: NAT_JUR, dtype: int64

In [23]:
raca_cor = pd.read_csv(RACA_COR, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, raca_cor, left_on='RACA_COR', right_on=0, how='left')
del df['RACA_COR']
del df[0]
df.rename(columns={1:'RACA_COR'}, inplace=True)

df['RACA_COR'].value_counts()

 Parda       1755992
 Branca       237302
 Amarela      104916
 Preta         33434
 Indígena       1209
Name: RACA_COR, dtype: int64

In [24]:
regct = pd.read_csv(REGCT, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, regct, left_on='REGCT', right_on=0, how='left')
del df['REGCT']
del df[0]
df.rename(columns={1:'REGCT'}, inplace=True)

df['REGCT'].value_counts()

 Sem regra contratual                                                                         2632266
 ESTABELECIMENTO DE SAUDE SEM GERACAO DE CREDITO NA MEDIA COMPLEXIDADE HOSPITALAR              184750
 ESTABELECIMENTO SEM GERACAO DE CREDITO TOTAL-MEC                                              120576
 ESTABELECIMENTO SEM GERAÇÃO DE CREDITO TOTAL - INCLUINDO FAEC - EXCLUSIVO PARA REDE SARAH      16529
 ESTABELECIMENTO SEM GERAÇÃO DE CREDITO TOTAL - EXCLUINDO FAEC                                   2242
Name: REGCT, dtype: int64

In [25]:
sexo = pd.read_csv(SEXO, sep=';', encoding= 'unicode_escape', header=None)

df = pd.merge(df, sexo, left_on='SEXO', right_on=0, how='left')
del df['SEXO']
del df[0]
df.rename(columns={1:'SEXO'}, inplace=True)

df['SEXO'].value_counts()

 Feminino     1780456
 Masculino    1175907
Name: SEXO, dtype: int64

In [26]:
df.head(2)

,Unnamed: 0,ANO_CMPT,MES_CMPT,CGC_HOSP,N_AIH,CEP,NASC,UTI_MES_TO,UTI_INT_TO,DIAR_ACOM,...,FINANC,GESTAO,IDENT,INSTRU,MARCA_UTI,NACIONAL,NAT_JUR,RACA_COR,REGCT,SEXO
0,0,2014,1,5.268526e+12,2314100004788,62900000,20140117,2,0,0,...,Média e Alta Complexidade (MAC),Estadual plena,Principal,NaN,UTI neonatal - tipo II,Brasil,Associação Privada,NaN,Sem regra contratual,Feminino
1,1,2014,1,5.268526e+12,2314100004854,62755000,20110912,0,0,0,...,Média e Alta Complexidade (MAC),Estadual plena,Principal,NaN,Não utilizou UTI,Brasil,Associação Privada,NaN,Sem regra contratual,Feminino

In [27]:
df = df.drop(columns=['Unnamed: 0'])
df.head(2)

,ANO_CMPT,MES_CMPT,CGC_HOSP,N_AIH,CEP,NASC,UTI_MES_TO,UTI_INT_TO,DIAR_ACOM,QT_DIARIAS,...,FINANC,GESTAO,IDENT,INSTRU,MARCA_UTI,NACIONAL,NAT_JUR,RACA_COR,REGCT,SEXO
0,2014,1,5.268526e+12,2314100004788,62900000,20140117,2,0,0,5,...,Média e Alta Complexidade (MAC),Estadual plena,Principal,NaN,UTI neonatal - tipo II,Brasil,Associação Privada,NaN,Sem regra contratual,Feminino
1,2014,1,5.268526e+12,2314100004854,62755000,20110912,0,0,0,10,...,Média e Alta Complexidade (MAC),Estadual plena,Principal,NaN,Não utilizou UTI,Brasil,Associação Privada,NaN,Sem regra contratual,Feminino

In [28]:
df.to_csv(INTERNACOES_NOVO)

In [29]:
df = pd.read_csv(INTERNACOES_NOVO)
df.info()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (29,30) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2956363 entries, 0 to 2956362
Data columns (total 51 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   ANO_CMPT    int64
 2   MES_CMPT    int64
 3   CGC_HOSP    float64
 4   N_AIH       int64
 5   CEP         int64
 6   NASC        int64
 7   UTI_MES_TO  int64
 8   UTI_INT_TO  int64
 9   DIAR_ACOM   int64
 10  QT_DIARIAS  int64
 11  PROC_SOLIC  int64
 12  PROC_REA    int64
 13  VAL_SH      float64
 14  VAL_SP      float64
 15  VAL_TOT     float64
 16  VAL_UTI     float64
 17  DT_INTER    int64
 18  DT_SAIDA    int64
 19  DIAG_PRINC  object
 20  NATUREZA    int64
 21  IND_VDRL    int64
 22  IDADE       int64
 23  DIAS_PERM   int64
 24  MORTE       int64
 25  HOMONIMO    int64
 26  GESTRISCO   int64
 27  CNES        int64
 28  CNPJ_MANT   float64
 29  CID_ASSO    object
 30  CID_MORTE   object
 31  SEQUENCIA   int64
 32  REMESSA     object
 33  MUNIC_RES   object
 34  MUNIC_MOV   object
 35  UF_ZI       object
 36  CAR_INT     object
 37  COBRANCA    object
 38  COD_IDADE   object
 39  COMPLEX     object
 40  ESPEC       object
 41  FINANC      object
 42  GESTAO      object
 43  IDENT       object
 44  INSTRU      object
 45  MARCA_UTI   object
 46  NACIONAL    object
 47  NAT_JUR     object
 48  RACA_COR    object
 49  REGCT       object
 50  SEXO        object
dtypes: float64(6), int64(23), object(22)
memory usage: 1.1+ GB

In [31]:
df = df[df.MUNIC_RES == 'Fortaleza']
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 867020 entries, 2 to 2953258
Data columns (total 51 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  867020 non-null  int64
 1   ANO_CMPT    867020 non-null  int64
 2   MES_CMPT    867020 non-null  int64
 3   CGC_HOSP    810572 non-null  float64
 4   N_AIH       867020 non-null  int64
 5   CEP         867020 non-null  int64
 6   NASC        867020 non-null  int64
 7   UTI_MES_TO  867020 non-null  int64
 8   UTI_INT_TO  867020 non-null  int64
 9   DIAR_ACOM   867020 non-null  int64
 10  QT_DIARIAS  867020 non-null  int64
 11  PROC_SOLIC  867020 non-null  int64
 12  PROC_REA    867020 non-null  int64
 13  VAL_SH      867020 non-null  float64
 14  VAL_SP      867020 non-null  float64
 15  VAL_TOT     867020 non-null  float64
 16  VAL_UTI     867020 non-null  float64
 17  DT_INTER    867020 non-null  int64
 18  DT_SAIDA    867020 non-null  int64
 19  DIAG_PRINC  867020 non-null  object
 20  NATUREZA    867020 non-null  int64
 21  IND_VDRL    867020 non-null  int64
 22  IDADE       867020 non-null  int64
 23  DIAS_PERM   867020 non-null  int64
 24  MORTE       867020 non-null  int64
 25  HOMONIMO    867020 non-null  int64
 26  GESTRISCO   867020 non-null  int64
 27  CNES        867020 non-null  int64
 28  CNPJ_MANT   596693 non-null  float64
 29  CID_ASSO    722090 non-null  object
 30  CID_MORTE   726960 non-null  object
 31  SEQUENCIA   867020 non-null  int64
 32  REMESSA     867020 non-null  object
 33  MUNIC_RES   867020 non-null  object
 34  MUNIC_MOV   867020 non-null  object
 35  UF_ZI       817802 non-null  object
 36  CAR_INT     867020 non-null  object
 37  COBRANCA    867020 non-null  object
 38  COD_IDADE   866679 non-null  object
 39  COMPLEX     867020 non-null  object
 40  ESPEC       867020 non-null  object
 41  FINANC      867020 non-null  object
 42  GESTAO      867020 non-null  object
 43  IDENT       867020 non-null  object
 44  INSTRU      4181 non-null    object
 45  MARCA_UTI   867020 non-null  object
 46  NACIONAL    867020 non-null  object
 47  NAT_JUR     857639 non-null  object
 48  RACA_COR    578683 non-null  object
 49  REGCT       867020 non-null  object
 50  SEXO        867020 non-null  object
dtypes: float64(6), int64(23), object(22)
memory usage: 344.0+ MB

In [32]:
df.to_csv(INTERNACOES_FOR)